body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: none;
  color: #776e65;
  margin: 0;
  padding: 0;
}

.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
}

h1 {
  font-size: 48px;
  margin: 20px 0;
  color: #ffffff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.score-container {
  margin: 20px;
  font-size: 24px;
  color: #ffffff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.best-score-container {
  position: absolute;
  top: 20px;
  right: 20px;
  text-align: right;
  font-size: 24px;
  color: #ffffff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

#restart-button {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #f67c5f;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

#restart-button:hover {
  background-color: #f65e3b;
}

.game-container {
  display: inline-block;
  position: relative;
  width: 400px;
  height: 400px;
  background-color: rgba(187, 173, 160, 0.8);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 10px #aaa;
  backdrop-filter: blur(10px);
}

.grid-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
}

.tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  font-weight: bold;
  color: #776e65;
  background-color: #cdc1b4;
  border-radius: 5px;
  animation: appear 0.2s ease-in-out;
}

@keyframes appear {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.tile[data-value="2"] { background-color: #eee4da; }
.tile[data-value="4"] { background-color: #ede0c8; }
.tile[data-value="8"] { background-color: #f2b179; color: #f9f6f2; }
.tile[data-value="16"] { background-color: #f59563; color: #f9f6f2; }
.tile[data-value="32"] { background-color: #f67c5f; color: #f9f6f2; }
.tile[data-value="64"] { background-color: #f65e3b; color: #f9f6f2; }
.tile[data-value="128"] { background-color: #edcf72; color: #f9f6f2; }
.tile[data-value="256"] { background-color: #edcc61; color: #f9f6f2; }
.tile[data-value="512"] { background-color: #edc850; color: #f9f6f2; }
.tile[data-value="1024"] { background-color: #edc53f; color: #f9f6f2; }
.tile[data-value="2048"] { background-color: #edc22e; color: #f9f6f2; }
.tile[data-value="4096"] { background-color: #3c3a32; color: #f9f6f2; }

.footer {
  margin-top: 100px;
  font-size: 18px;
  color: #ffffff;
  font-weight: bold;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

